h1 {
  color: purple;
}

h2 {
  color: #f76d00;
  font-size: 60px;
}

h4{
  font-size: 50px;
  color: black;
}

#layout {
  padding: 20px;
  border: solid 1px black;
  background-color: purple;
}

article {
  /* margin-top: -350px;
  margin-left: 750px;
  margin-right: 300px;
  margin-bottom: 100px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 1em;
  overflow: hidden; */
  border: 1px solid gray;
  overflow: hidden;
}

input {
  border-radius: 5px;
  border: 1px solid purple;
  font-size: 25px;
  cursor:pointer;
  position: relative;
  padding:0px;
  margin:1px;
}

#button1 {
  margin-right: 100px;
  margin-left: 1000px;
  border: 2px solid white;
  background: #f76d00;
  font-size:20px;
  border-radius: 5px;
}

#button2 {
  border: 2px solid white;
  background: #f76d00;
  font-size:20px;
  border-radius: 7px;
  color: white;
  padding: 5px 20px;
}

.signin-form {
  border: 1px solid black;
  display: center;
}

.signin-form > form {
  width: 50%;
}
