*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h2 {
  margin-left: 10%;
}

#layout {
  padding: 20px;
  border: solid 1px black;
  background-color: purple;
}

#button1 {
  margin-right: 5%;
  border: 2px solid white;
  background: #f76d00;
  font-size:20px;
  border-radius: 5px;
}

form {
  margin-left: 5%;
  position: relative;
  width: 95%;
  /*margin: 0 auto;*/
}
button {
  border: none;
  outline: none;
  border-radius: 3px;
}
.input {
  width: 100%;
  height: 42px;
  background: #F9F0DA;
  border: #311c24;
  border-radius: 3px;
  outline: none;
}

#button2 {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #F15B42;
  cursor: pointer;
}

#button3 {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 45px;
  background: #148d23;
  cursor: pointer;
}

#layout1 {
  margin-top: 10%;
  margin-left: 25%;
}

.vl {
  border-right:1px solid lightgray;
  width: 0;
  height: 575px;
  margin-left: -1px;
}

.first-button {
  margin-right:5%;
  margin-left: 5%;
  margin-top: 0;
  width: 89%;
  outline: none;
  height: 7%;
  background: #e9b8f5;
}

.student-buttons {
  margin-right:5%;
  margin-left: 5%;
  margin-top: 5%;
  width: 89%;
  outline: none;
  height: 7%;
  background: #e9b8f5;
}

.delete {
  margin-left: 75%;
  margin-top: -9.75%;
  border: 1px solid #b429d5;
  background: #e181f8;
}

.new-student {
  margin-right:5%;
  margin-left: 5%;
  margin-top: 5%;
  width: 89%;
  outline: none;
  height: 7%;
  background: #efbc9a;
}

.add {
  margin-left: 75%;
  margin-top: -9.75%;
  border: 1px solid #c95c0a;
  background: #f17a49;
}

.lessons {
  margin-right:5%;
  margin-left: 5%;
  margin-top: 5%;
  width: 89%;
  outline: none;
  height: 15%;
  background: #b1ef9a;
}

.lessons-view {
  margin-left: 77%;
  margin-top: -9.75%;
  border: 1px solid #148d23;
  background: #30c62b;
}

.lessons-edit {
  margin-left: 78%;
  margin-top: -20.75%;
  border: 1px solid #148d23;
  background: #30c62b;
}

.lessons-delete {
  margin-left: 10%;
  margin-top: -9.75%;
  border: 1px solid #148d23;
  background: #30c62b;
}

.link {
  font-size: 20px;
  margin-left: 30%;
}

.input2 {
  width: 90%;
  height: 42px;
  background: #c4f5b2;
  border: #311c24;
  border-radius: 3px;
  outline: none;
}
