@import java.util
@import play.mvc.Http.Request
@(login: String, connectedUsers: util.LinkedList[String])(implicit request: Request)
<html lang="en">
  <head>
    <title>FAST FLUENCY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheets">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/teacher.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/Fast_Fluencytiny.png")">
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-betwee">
      <img src="@routes.Assets.versioned("images/Fast_Fluency.png")" alt="Fast Fluency logo">
      <h2 class="greatingh2">@login</h2>
      <a class="btn" id="button1" href="/logout" >Log Out</a>
    </nav>
    <p id="layout"></p>
    <div class="row">

      <div class="col-sm-3">
        <div class="searchArea">
          <input class="getUser" type="text" required placeholder="  find new students..." name="linkUser">
          <button class="searchBtn"><i class="fa fa-search"></i></button>
        </div>
        <div class="foundResults">
          <ul class="linkedUsers">

          </ul>
        </div>
        <hr>
        <h2 class="font">Your students</h2>
        <hr>
        @if(connectedUsers.isEmpty){
          <br>
          You have no connected students
        }
        <ul  class="connectedUsers">
        @for(connectedUser <- connectedUsers) {
          <li class="linkedUser">@connectedUser</li>
          <br>
        }
        </ul>
          <!--    <a href="/" >home page</a>-->
      </div>
      <div class="vl"> </div>
      <div class="col-sm-6">
        <h2 class="greatingh2"><em>Welcome, Dear @login</em></h2>
        <h3 class="greatingh3"><em>Let`s teach</em></h3>
      </div>
      <div class="vl"> </div>
      <div class="col-sm-3">
        <h2 class="font">Lessons you've made</h2>
        <hr>
        <div class="searchArea">
          <input type="text" placeholder=" find your lesson...">
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
  </body>
</html>
