@import play.mvc.Http.Request
@(implicit request: Request)
<head>
  <title>Computer Geeks Inc</title>
  <link href="http://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheets">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/home.css")">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

</head>

<body>
<section id="top">
  <div class="wrapper">

    <h1><em>FAST FLUENCY </em>
      <a href = "/signin">
        <button id="button1">Sign up</button>
      </a>
    </h1>
    <p id = "layout">
      <br>
    </p>
    <br><br><br>
    <h2><em>Learning</em><br>English is fun </h2>
    <h1> Fast Fluency — some</h1>
    <h1>info about it.</h1>
  </div>
</section>

<article id="footer1">
  @helper.form(routes.HomeController.home()) {
    <h4  > Welсome! </h4>
    <input id="loginField" type="text" required placeholder="  Username" name="login" >
    <br><br>
    <input id="passwordField" type="password" required placeholder="  Password" name="password">
    <br><br>
    <button id="button2">  Log in   </button>
    <br>
  }
</article>
<section id="section">
  <!--        <h5> New to our site — Create an account </h5>-->
</section>
</body>

