@import java.util
@import helper._

@import play.mvc.Http.Request

@(lessons: util.ArrayList[Lesson], form: Form[LessonData])(implicit request: Request)

	@main("Welcome to Play") {
		@request.flash.asScala().data.map { case (name, value) =>
		<div class="alert alert-@name" role="alert">
		@value
		</div>
		}

		<h4>My lessons</h4>
		<div class="lessons">
			<ul class="lessons_list">
			@for(lesson <- lessons) {
				<li>@lesson.name</li>
			}
			</ul>
		</div>

		@helper.form(routes.LessonsController.createLesson()) {
			@helper.CSRF.formField

			<input type="text" name="name" placeholder="Enter title">

			<button type="submit">Create</button>
		}
	}
