@import play.mvc.Http.Request
@(implicit request: Request)
<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/signup.css")'>
      <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">
  </head>
  <body>
      <h1><em>FAST FLUENCY</em>
      </h1>
      <a class="btn"  id="button1" href="/">Log in</a>
      <p id="layout">
        <br>
      </p>

      <div id="wrapper">
        <div class="main-content">
          <div class="header">
            <p>Welcome to Fast Fluency</p>
          </div>

          <div class="l-part">
            @helper.form(routes.UserController.signUp()) {
              @helper.CSRF.formField
                <p>
                  <input  type="radio"  required name="status" value="teacher"> Teacher
                  <input  type="radio"  required name="status" value="student"> Student
                </p>

                <input type="text" name="login"  required placeholder="Username" class="input-1" />

                <div class="overlap-text">
                  <input type="password" name="password"  required placeholder="Password" class="input-2" />
                </div>
                <button class="btn" type="submit">Create Account</button>
            }
          </div>
        </div>
      </div>
  </body>
</html>
