@import java.util
@import play.mvc.Http.Request
@(login: String, connectedUsers: util.LinkedList[String])(implicit request: Request)
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    Hello teacher @login
    <a class="btn" href="/logout" >log Out</a>

    @if(connectedUsers.isEmpty){
      <br>
      You have no connected students
    }
    <ul>
    @for(connectedUser <- connectedUsers) {
      <li>@connectedUser</li>
    }
    </ul>

@*    @helper.form(routes.UserController.linkUser()) {*@
@*      @helper.CSRF.formField*@
@*      <input type="text" required placeholder="  Enter name of student ot add" name="linkUser">*@
@*      <br><br>*@
@*      <button type="submit">  Add   </button>*@
@*      <br>*@
@*      }*@

      <br>
      <input class="getUser" type="text" required placeholder="  Enter name of teacher to add" name="linkUser">
      <br>
      <button class="submitBtn">  Find   </button>

      <ul class="linkedUsers">

    </ul>

      <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
  </body>
</html>
